.contentBox {
  height: 400px;
  float: left;
  box-sizing: border-box;
  font-family: "Open Sans";
}
.contentBox > hgroup > h1 {
  font-weight: 200;
  font-size: 12px;
  letter-spacing: 2.4px;
}
.contentBox > hgroup > h2 {
  font-weight: 200;
  font-size: 38px;
  letter-spacing: normal;
  line-height: 48px;
  font-weight: 400;
  margin-top: 14px;
}
.contentBox .btn-link {
  background-color: #fff;
  color: #342736;
  text-transform: uppercase;
}

/**** CONTENT BOX #61D305 ****/

.contentBox.green {
  color:   #fff;
  background-color: #61D305;
}
.contentBox.green h1 {
  color: #E6F287;
}
.contentBox.green .btn-link {
  background-color: #4A3A4D;
  color: #61D305;

}
.contentBox.green .btn-link:hover {
  background-color: #fff;
  color: #4A3A4D;
}
.contentBox.centered {
  text-align: center;
}
/***************************/

.contentBox .btn::after {
  font-family: 'FontAwesome';
  margin-left: 12px;
  content: '\F078';
  top: -2px;
  font-size: 8px;
  position: relative;
}

/**** CONTENT BOX #4A3A4D ****/

.contentBox.purple {
  background-color: #4A3A4D;
  color: #4A3A4D;
}
.contentBox.purple .btn-link {
  background-color: #27D5E8;
  color: #4A3A4D;
}
.contentBox.purple .btn-link:hover {
  background-color: #fff;
  color: #61D305;
}

.contentBox.purple > hgroup > h1 {
  color: #6B6F62;
}
.contentBox.purple > hgroup > h2 {
  color: #fff;
}
/***************************/

/* States */
.contentBox.centred {
  text-align: center;
}
/**** CONTENT BOX #27D5E8 ****/
.contentBox.blue {
  color: #fff;
  background-color: #27D5E8;
}
/***************************/

/**** Sizes ****/

.contentBox.half {
  width: 640px;
  padding: 53px 133px 77px 77px;
}

.contentBox.quarter {
  width: 320px;
  padding: 127px 74px;
}

.contentBox.quarter h2{
  font-size: 22px;
  line-height: 32px;
  text-align: center;
}

.contentBox.quarter.blue > a {
  color: #fff;
}

.contentBox.centred {
  text-align: center;
}
.contentBox {

}
